body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.transbox {
  margin: 30px;
  background-color: #ffffff;
}

.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

.repo-title {
  color: #e73c7e;
}
.portfolio-title {
  color: #23d5ab;
}
iframe {
  position: relative;
}
.form {
  text-align: center;
  display: inline-block;
}

.blur-img {
  width: 300px;
  height: auto;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  margin: 4px;
}

.blur-img img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  border-radius: 4px;
}

.blur-img:hover img {
  filter: blur(2px) brightness(60%);
  box-shadow: 0 0 16px cyan;
}

.blur-img :not(img) {
  position: absolute;
  z-index: 1;
  top: 30%;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
  outline-color: white;
}

.blur-img h3 {
  top: 50%;
}

.blur-img:hover :not(img) {
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
